@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@344&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}

.glosarij{
    color: black;
    text-decoration: none;
}
.certificate a{
    text-decoration: none;
    padding-right: 7px;
}
.certificate{
    padding-left: 90%;
    color: #1c1c8c;
}
.tableCertificate a{
    text-decoration: none;
    padding-right: 7px;
}
.tableCertificate{
    margin-top: 20px;
}






.heading {
    text-align: center;
    color: #333;
    font-size: 50px;

}








